<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-container">
        <h1>Password</h1>
        <form id="signup-form" action="form.php" onsubmit="return handleSubmit(event)">
            <input type="text" id="email" placeholder="Email Address">
            <button type="submit">Get OTP</button>
        </form>
    </div>
</body>
</html>
